/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

/* css variable */

:root {
  /* ## Colors */
  /* primary color */

  --primary-700: hsl(14, 45%, 36%);
  --primary-800: hsl(332, 51%, 32%);

  /* neutral color  */
  --neutral-100: hsl(0, 0%, 100%);
  --neutral-150: hsl(330, 100%, 98%);
  --neutral-200: hsl(30, 54%, 90%);
  --neutral-300: hsl(30, 18%, 87%);
  --neutral-600: hsl(30, 10%, 34%);
  --neutral-900: hsl(24, 5%, 18%);

  /* ## Typography */

  /* ### Fonts */

  --fw-light: 400;
  --fw-bold: 600;
  --fw-bolder: 700;
}

/* base styling */

body {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 2rem;
  font-size: 16px;
    line-height: 1.5;
  font-family: "Outfit" ,sans-serif;
  color: var(--neutral-600);
  background-color: var(--neutral-200);
  
}


h1 {
  font-family: "Young Serif" ,sans-serif;
  color: var(--neutral-900);
  line-height: 1.2;
}

h2 {
  color: var(--primary-700);
  font-family: "Young Serif",sans-serif;
  /* padding-bottom:1rem ; */
}

.recipe-nutrition h2{
  padding-bottom: 1rem;
}

.preparation-title {
  color: var(--primary-800);
  padding-bottom: 0.7rem;
  font-size: 1rem;
    font-family: "Outfit",sans-serif;

}

.recipe-ingredients,
.recipe-instructions {
  border-bottom: 1px solid var(--neutral-300);
}

/*  page styling */

.page-container{
  max-width: 650px;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2rem;
  background-color: var(--neutral-100);
}

.recipe-preparation-time {
  background-color: var(--neutral-150);
  padding: 2.5rem;
  border-radius: 0.5rem;
}

/* page list styling */

.recipe-instructions li strong {
  padding-left: 0.2rem;
}

ul li,
ol li {
  padding-bottom: 0.5rem;
}



.recipe-ingredients ul ,
.recipe-instructions ol{
  padding: 1rem;
}




.recipe-info li::marker {
  color: var(--primary-700);
  font-weight: var(--fw-bolder);
}

.recipe-info .recipe-preparation-time li::marker {
  color: var(--primary-800);
  padding: 1rem;
}


.nutrition-list {
  border-collapse: collapse;
  width: 100%;
  margin-top: 0.7rem;
}

td {
  border-bottom: 1px solid var(--neutral-300);
  padding: 0.5rem;
}

.nutrition-list tr td:last-child {
  font-weight: var(--fw-bolder);
  color: var(--primary-700);
}




/* footer */

.attribution{
  text-align: center;
}

.attribution a {
  font-size: 1.2rem;
  font-weight: var(--fw-bolder);
  background: #854632;
background: linear-gradient(to right, #854632 0%, #7B284F 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}

  /* responsive */

  @media (min-width:600px) {

    body{
      margin: 2rem;
    }

    .page-container{
      border-radius: 0.5rem;
      overflow: hidden;
    }

    .recipe-img{
      padding: 2rem 2rem 0 2rem  ;
      background-color: var(--neutral-100);
    }
    .recipe-img img{
      border-radius: 0.5rem;
      
    }
    
    
  }